<div *ngIf="applicationNode" class="component">
    <div class="section">
        <div class="pageHandler">
            <div></div>
            <div class="loadButton">
                <button type="button" (click)="fileInput.click()">📄</button>
                <input
                    type="file"
                    id="filePicker"
                    #fileInput
                    (change)="onFileSelected($event)"
                    style="display: none;"
                />
            </div>
            <nav *ngIf="isLoaded" class="center-div">
                <button (click)="prevPage()" [disabled]="page === 1">
                    <<
                </button>
                <ur-dialog-input
                    [type]="'number'"
                    [disabled]="false"
                    [label]="'Page Number'"
                    [message]="'Type in page number.'"
                    [placeholder]="''"
                    [validators]="expressionValidators()"
                    [translations]="{tooLongMessage: 'too long message', requiredValidationMessage: 'This field is required'}"
                    [currentValue]="page"
                    (valueChanged)="setPageVariable($event)"
                    [positiveDigitsOnly]="true"
                    [value]="page"
                    [keyboardLayout]="numeric-free-positive"
                ></ur-dialog-input>
                <button (click)="nextPage()" [disabled]="page === totalPages">
                    >>
                </button>
            </nav>
            <div class="right-div">
                <p *ngIf="!isLoaded"> Page: ? / ? </p>
                <p *ngIf="isLoaded"> Page: {{ page }} / {{ totalPages }}</p>
            </div>
            <div></div>
        </div>
        <div class="pdf-div" *ngIf="pdfSrc">
            <pdf-viewer
                [src]="pdfSrc"
                [(page)]="page"
                [scale]="1" 
                (after-load-complete)="afterLoadComplete($event)"
                [render-text]="true"
                [show-all]="true"
                [render-text-mode]="2"
                (pageChange)="setPageVariable($event)"
                class="pdf-viewer">
            ></pdf-viewer>
            <div class="toolbar">
                <div class="search-function">   
                    <button (click)="toggleSearchPopup()"> 🔍 </button>
                    <!-- Search Popup -->
                    <div class="search-popup" *ngIf="showSearchPopup">
                        <div style="display: flex;">
                            <ur-dialog-input
                                [type]="'text'"
                                [disabled]="false"
                                [label]="'Search: ' + currentMatch + '/' + matchCount"
                                [message]="'Type in search text.'"
                                [placeholder]="''"
                                [currentValue]="searchText"
                                (valueChanged)="setSearchVariable($event)"
                                [value]="searchText"
                            ></ur-dialog-input>
                            <button (click)="searchInPDF(true)" class="search-btn">⬇️</button>
                            <button (click)="searchInPDF(false)" class="search-btn">⬆️</button>
                            <button (click)="closeSearchPopup()" class="search-btn">❌</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
