@import '../../../styles.scss';

.component {

  .section {
    padding: 0.5rem 0.5rem 1rem;

    .pageHandler { 
      display: grid;
      grid-template-columns: 4% auto 1fr auto 4%;
      align-items: center; 
      width: 100%;
      gap: 20px; 
  
      .loadButton{
        display: flex;
        justify-content: flex-start; 
        height: 80%;
      }
      .center-div {
        display: flex;
        justify-content: center; 
        gap: 20px; 
      }
  
      .right-div {
        display: flex;
        justify-content: flex-end; 
      }
    }

    .pdf-div {
      display: flex;
      justify-content: center; 

      .pdf-viewer {
        margin: 5px;
        text-align: center;
        height: 68vh; 
        width: 80vw;  
        min-width: 0;
        min-height: 0;
        touch-action: auto !important;
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: touch; /* Enables smooth scrolling */
  
        ::ng-deep .ng2-pdf-viewer-container {
          touch-action: auto !important;
          overflow-y: scroll !important;
          -webkit-overflow-scrolling: touch; /* Enables smooth scrolling */
        }
  
        ::ng-deep .ng2-pdf-viewer-container::-webkit-scrollbar {
          width: 30px !important;
          touch-action: auto !important;
        }
  
        ::ng-deep .ng2-pdf-viewer-container::-webkit-scrollbar-thumb {
          height: 40px !important;
          touch-action: auto !important;
        }
      }

      .toolbar {
        margin: 5px;
        display: grid;
        grid-template-rows: auto auto auto; // one row for each inner div
        height: 68vh; 
        min-width: 60px;

        .toolbar-button {
          width: 100%;
          height: 50px;
        }

        .top-buttons {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .search-function {
            position: relative;
            display: inline-block;
            

            .search-popup {
              position: absolute;
              top: -60%;
              right: 220%;
              transform: translate(0%, -50%); /* Moves left by 50% of its width & centers vertically */
              background: white;
              padding: 10px;
              border-radius: 5px;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              z-index: 1000; /* Makes sure it's always on top */

              .search-input  {
                min-width: 200px;
              }

              .search-btn {
                flex: 1;
                margin-left: 10px;
              }
            }
          }
        }

        .middle-buttons {
          display: flex;
          align-items: center;
        }

        .bottom-buttons{
          display: flex;
          align-items: flex-end;
        }
        



      }


    }

    
  }
}
